<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>This is the header!</h1>
  <form>
    <label>Enter a Username: </label>
    <input type="text" name="username" placeholder="username">
    <input type="submit">
  </form>

