<% include partials/_header %>

  <div class="container">
    <form action="/login" method="POST">
      <label>Enter your email address to log in: </label>
      <input type="email" name="email">

      <label>Enter your password to log in: </label>
      <input type="password" name="password">
      <input class="btn btn-primary btn-md" type="submit">
    </form>
  </div>






<% include partials/_footer %>