<% include partials/_header %>


    <form action="/login" method="POST">
      <label>Enter your email address to log in: </label>
      <input type="email" name="email">

      <label>Enter your password to log in: </label>
      <input type="password" name="password">
      <input type="submit">
    </form>

    <a href="/register">Click here to sign up!</a>





<% include partials/_footer %>