

<h1>Hello and Welcome to TinyApp!  Please enter your email and a password to begin creating tiny URLS!</h1>

<form action="/register" method="POST">
  <label>Enter your email:</label>
  <input type="email" name="email" placeholder="email">
  <label>Create a password:</label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="" value="Create account">


</form>

<%include partials/_footer%>