 <%include partials/_header%>
 <div>

  <ul>
    <li> <%= `${shortURL}:  ${urlDatabase[shortURL]}` %></li>
  </ul>



    <form method="POST">
      <label for="longURL">Update your URL: </label>
      <input id="longURL" type="text" name="longURL" value="<%=urlDatabase[shortURL]%>">
      <input type="submit" value="UPDATE!">
    </form>


  </div>



<%include partials/_footer%>

