 <%include partials/_header%>
 <div>

  <ul>
    <li> <%= `${shortURL}:  ${urlDatabase[shortURL]}` %></li>
  </ul>
    <form method="POST" name="" >
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" value="<%=urlDatabase[shortURL]%>"></input>
      <input type="submit"></input>
    </form>

  </div>



<%include partials/_footer%>

