<%include partials/_header%>
  <div>

    <h2>My URLS:</h2>
    <ul>

      <% for (let ids in urlDatabase) { %>
      <!--for the id strings in the database -->
            <% if (ids === userID) { %> <!--if the id is equal to the userID -->

                  <% for (let urls in userURLS) { %>
                    <li><%= `${urls}----->`%><a href="<%=userURLS[urls]%>"><%=`${userURLS[urls]}`%></a></li>

                  <% } %>
            <% } %>

      <% } %>
    </ul>
    <a href="/urls/new">Make a new Tiny URL</a>
  </div>

<%include partials/_footer%>

